
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    padding-left: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
}
h2,h3,p{
    padding-top: 10px;
}
div.perfil{
    background-color: rgb(2, 158, 137);
    text-align: center;
}
div.resumo{
    background-color: rgb(197, 197, 197);
    text-align: center;
}

a.button{
    color: white;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
}

img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding-top: 20px;
}

h2{
    color:rgb(59,59,184);
}

hr{
    background-color: antiquewhite;
    height: 3px;
}

h3{
    color:beige
}
#github{
    background-color: rgb(85,81,81);
}
#linkedin{
    background-color: #0e76a8;
}
#youtube{
    background-color: #ff0000;
}